@import 'normalize';

.hotel-item__teaser-image {
  img {
    width: 100%;
    height: auto;
  }
}

.spinner-border {
  display: none;
}

.hotel-item-tiles {
  margin-top: 60px;
}

.hotel-item {
  margin-bottom: 30px;
}

.loadmore {
  margin-top: 30px;
  text-align: center;
}
